@use '../config/variables' as *;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1.2rem;
  box-sizing: border-box;
}

.container-inner {
  width: min(100%, 80rem);
  min-width: 0;
  text-align: left;
  box-sizing: border-box;

  h2 {
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .title {
    min-height: 22rem;
    background-image: linear-gradient(to top right, #1818dd, #963bc3);
    margin-bottom: 3rem;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
    text-align: center;

    &-inner {
      width: min(100%, 70rem);
      padding: 0 1.5rem;
      box-sizing: border-box;
    }
  }

  .content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &-inner {
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: $mobileL) {
  .container {
    padding: 0 1.5rem;
  }

  .container-inner {
    text-align: center;
  }

  .container-inner .title {
    min-height: 30rem;
    margin-bottom: 5rem;
    padding: 0;
  }

  .container-inner .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-inner .content-inner {
    grid-column: 2 / 3;
  }
}

@media (min-width: $tablet) {
  .container-inner {
    flex-direction: row;
    text-align: left;
  }

  .container-inner img {
    max-width: 480px;
  }
}

@media (min-width: $ebook) {
  .container-inner img {
    max-width: 520px;
  }
}
