.footer {
  background-color: #fff;
  margin-top: 3rem;
  padding: 1rem 0;
  text-align: center;
  color: #b7b6b6;
  background-color: #0f4cbc;
  width: 100%;

  .content {
    margin-bottom: 2rem;
  }
}
